<header class="Header">
  <h1 class="Header-title">{{workshopName()?.toUpperCase()}}</h1>
</header>

<main class="Main">
  @if(showMessageView()){
  <p class="Main-message">
    ¡Gracias por compartir sus comentarios con nosotros!
  </p>
  }@else {
  <survey-experience-form (onFormSubmit)="handleFormSubmit()" />
  }
</main>

<footer class="Footer">
  <section class="Footer-info">
    <span class="Footer-info-title">{{workshopName() | titlecase}}</span>
    <span class="Footer-info-text">{{workshopAddress()?.split(',')?.at(0)}}</span>
  </section>
  <section class="Footer-buttons">
    <!-- Buttons -->
    <button class="Footer-buttons-whatsapp">
      <i class="fa-brands fa-whatsapp"></i>
      <span>Whatsapp</span>
    </button>

    <button class="Footer-buttons-map">
      <i class="CustomIcon CustomIcon--gMaps"></i>
      <span>Ver en mapa</span>
    </button>
  </section>
  <section class="Footer-contact">
    <div class="Footer-contact-item">
      <!-- <i class="fa-solid fa-phone-flip"></i> -->
      <i class="CustomIcon CustomIcon--phoneFlip"></i>
      <span class="Footer-contact-phone">{{workshopPhone()}}</span>
    </div>
    <div class="Footer-contact-item">
      <i class="fa-regular fa-envelope"></i>
      <span>{{workshopEmail()}}</span>
    </div>
  </section>
</footer>
