<header class="Header">
  <h1 class="Header-title">TALLER MOTORS</h1>
</header>

<main class="Main">
    <survey-experience-form />
</main>

<footer class="Footer">
  <section class="Footer-info">
    <span class="Footer-info-title">Taller Motors</span>
    <span class="Footer-info-text">Address</span>
  </section>
  <section class="Footer-buttons">
    <!-- Buttons -->
    <button class="Footer-buttons-whatsapp">
      <i class="fa-brands fa-whatsapp"></i>
      <span>WhatsApp</span>
    </button>

    <button class="Footer-buttons-map">
      <i class="fa-solid fa-location-dot"></i>
      <span>Ver en mapa</span>
    </button>
  </section>
  <section class="Footer-contact">
    <div class="Footer-contact-item">
      <i class="fa-solid fa-phone-flip"></i>
      <span class="Footer-contact-phone">(+54) 123 4567500</span>
    </div>
    <div class="Footer-contact-item">
      <i class="fa-regular fa-envelope"></i>
      <span>info&#64;tallermotors.com.ar</span>
    </div>
  </section>
</footer>
