@use "variables" as *;

:host {
  background-color: $white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem;
  gap: 3vh;
}

.Header {
  margin-bottom: 2rem;
  &-title {
    border-bottom: 3px solid $blue;
    color: $darkerGray;
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    text-align: center;
  }
}

.Main {
  flex: 1 1 auto;
  max-width: 24em;
  
  &-message {
    color: $darkBlue;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    margin-inline: auto;
    max-width: 20rem;
    text-align: center;
  }
}

.Footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  &-info {
    align-items: center;
    color: $darkerGray;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &-title {
      font-size: 1.25rem;
      font-weight: 500;
    }

    &-text {
      font-size: 0.875rem;
      font-weight: 700;
    }
  }

  &-buttons {
    align-items: center;
    display: flex;
    gap: 2rem;

    button {
      align-items: baseline;
      background-color: transparent;
      border-radius: 5rem;
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      padding: 0.25rem 1rem;
      width: 9rem;
    }

    &-whatsapp {
      border: 1px solid hsl(143, 67%, 90%);

      i {
        color: hsl(143, 67%, 50%);
      }

      span {
        color: $darkGray;
        font-weight: 400;
      }
    }

    &-map {
      border: 1px solid $lightGray;

      span {
        color: $darkGray;
        font-weight: 400;
      }
    }
  }

  &-contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &-item {
      align-items: center;
      display: flex;
      font-weight: 400;
      gap: 0.5rem;

      span {
        color: $darkGray;
      }

      i {
        color: $darkBlue;
      }
    }

    &-phone {
      font-style: italic;
    }
  }
}