// COLORS
$bgLightGray: hsl(0, 0%, 98%);
$bgGray: hsl(0, 0%, 95%);
$lightGray: hsl(0, 0%, 87%);
$gray: hsl(0, 0%, 68%);
$gray2: hsl(0, 0%, 40%);
$darkGray: hsl(0, 0%, 35%);
$darkerGray: hsl(345, 4%, 20%);

$white: hsl(0, 0%, 100%);

$blue: hsl(206, 42%, 93%);
$darkBlue: hsl(194, 100%, 40%);